<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div id="root"></div>

<script id="loader" type="text/html">
loading...
</script>
<script id="application-layout-template" type="text/html">
    <div class="container">
        <h1>header</h1>

        <div class="row">
            <div class="col-xs-3">
                <ul>
                    <li><a href="#list">list view</a></li>
                    <li><a href="#list/details/1">form</a></li>
                    <li><a href="#widgets">widgets</a></li>
                </ul>
            </div>
            <div id="content" class="col-xs-9"></div>
        </div>
    </div>
</script>
<script id="list-template" type="text/html">
    <div>
        <strong>list header</strong>
        <div class="content"></div>
    </div>
</script>
<script id="item-template" type="text/html">
    <div><%= title %></div>
</script>
<script id="list-details-template" type="text/html">
    <dl class="dl-horizontal">
        <dt>id</dt><dd><%= id %></dd>
        <dt>title</dt><dd><%= title %></dd>
    </dl>
</script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/marionette/lib/backbone.marionette.js"></script>

<script src="app/app.js"></script>
<script src="app/views/loader.js"></script>
<script src="app/views/root-layout.js"></script>
<script src="app/views/application-layout.js"></script>
<script src="app/modules/list/test.js"></script>
<script src="app/modules/list/views/list.js"></script>
<script src="app/modules/list/views/details.js"></script>
<script src="app/modules/list/models/item.js"></script>
<script src="app/bootstrap.js"></script>

</body>
</html>
